<p>
  <mat-toolbar color="primary">
    <span>DEMO App</span>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon favorite-icon"
      aria-label="Example icon-button with Home">
      Home
    </button>
    <button mat-button class="example-icon"
      aria-label="Example icon-button with share icon">
      About Us
    </button>
    <button mat-button class="example-icon"
      aria-label="Example icon-button with share icon">
      Jobs Us
    </button>
    <button mat-button class="example-icon"
      aria-label="Example icon-button with share icon">
      Clients
    </button>
    <button mat-button class="example-icon"
      aria-label="Example icon-button with share icon">
      Employers
    </button>
    <button mat-button class="example-icon"
      aria-label="Example icon-button with share icon">
      Contact Us
    </button>
  </mat-toolbar>
</p>